<footer class="footer-section" id="subscribe">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-box">
                        <a class="navbar-brand" href="javascript:void(0)">
                            <img class="img-fluid" src="assets/images/new-logo.png" alt="..." /> </a>
                        <p>
                            Warning: <br /> gambling involves risk. By gambling on this website, you run the risk that you may lose. No persons under the age of 18 years are permitted to gamble. Winners know when to stop.<br />
                            National Responsible Gambling Programme: 0800 006 008 </p>
                        <ul>
                            <li>
                                <i class="fas fa-phone-alt"></i>
                                <span>+27(10) 767 3222</span>
                            </li>
                            <li>
                                <i class="far fa-envelope"></i>
                                <span>404!@bets.co.za</span>
                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                <span>404!@bets.co.za</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ps-lg-5">
                    <div class="footer-box">
                        <h5>Quick Links</h5>
                        <ul>
                            <li>
                                <a routerLink="/">Home</a>
                            </li>
                            <li>
                                <a routerLink="/about">About</a>
                            </li>
                            <li>
                                <a routerLink="/blog">Blog</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ps-lg-5">
                    <div class="footer-box">
                        <h5>OUR Services</h5>
                        <ul>
                            <li>
                                <a routerLink="/terms"> Terms &amp;
                                    Conditions</a>
                            </li>
                            <li>
                                <a routerLink="/policy"> Privacy
                                    Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-box">
                        <h5>subscribe newsletter</h5>
                        <form action="/subscribe" method="post" class="mb-3">
                            <input type="hidden" name="_token" value="otg0zmT6zV4Hup6O0vSrbcWPG5wrU7fhEm5vGaXu">
                            <div class="input-group mb-3">
                                <input type="email" name="email" autocomplete="off" class="form-control" placeholder="Enter Email" aria-label="Subscribe Newsletter" aria-describedby="basic-addon" />
                                <button type="submit">
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                            </div>
                        </form>
                        <div class="social-links">
                            <a href="https://www.facebook.com/">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="https://twitter.com/">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-md-6">
                        <p class="copyright">
                            Copyright &copy; 2023 404!Bets All Rights Reserved </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>