<section class="banner-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-text text-center">
                    <h3>Contact Us</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- contact section -->
<div class="contact-section">
    <div class="container">
        <div class="row gy-5 g-lg-5 align-items-center">
            <div class="col-lg-6">
                <div class="text-box">
                    <div class="header-text">
                        <h5>Contact Us</h5>
                        <h3>Get In Touch With Us</h3>
                        <p>
                            Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours
                            on business days. We will be happy to answer your questions. </p>
                    </div>
                    <div class="row">
                        <div class="info-box col-md-6">
                            <div class="icon-box">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>
                            <div class="text">
                                <h5>Address</h5>
                                <p>22 Baker Street, Bryanston</p>
                            </div>
                        </div>
                        <div class="info-box col-md-6">
                            <div class="icon-box">
                                <i class="fal fa-building"></i>
                            </div>
                            <div class="text">
                                <h5>House</h5>
                                <p>22 Baker Street, Bryanston</p>
                            </div>
                        </div>
                        <div class="info-box col-md-6">
                            <div class="icon-box">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="text">
                                <h5>Email</h5>
                                <p>404!@bets.co.za</p>
                            </div>
                        </div>
                        <div class="info-box col-md-6">
                            <div class="icon-box">
                                <i class="fal fa-phone-alt"></i>
                            </div>
                            <div class="text">
                                <h5>Phone</h5>
                                <p>+27(10) 767 3222</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form action="/contact" method="post">
                    <input type="hidden" name="_token" value="otg0zmT6zV4Hup6O0vSrbcWPG5wrU7fhEm5vGaXu">
                    <h4>just drop us a line</h4>
                    <div class="row g-3">
                        <div class="input-box col-md-6">
                            <input class="form-control" type="text" name="name" value="" placeholder="Full name" />
                        </div>
                        <div class="input-box col-md-6">
                            <input class="form-control" type="email" name="email" value=""
                                placeholder="Email address" />
                        </div>
                        <div class="input-box col-12">
                            <input class="form-control" type="text" name="subject" value="" placeholder="Subject" />
                        </div>
                        <div class="input-box col-12">
                            <textarea class="form-control" cols="30" rows="3" name="message"
                                placeholder="Your message"></textarea>
                        </div>
                        <div class="input-box col-12">
                            <button type="submit" class="btn-custom" style="width: 100px;">submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>