<section class="banner-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-text text-center">
                    <h3>About Us</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- about section -->
<section class="about-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="img-box">
                    <img src="assets/images/630f5985a94bb1661950341.png" alt="..." class="img-fluid" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="header-text">
                    <h5>A Next-Level Sports Betting</h5>
                    <h2>Know About Us</h2>
                </div>
                <p>
                    Our platform has been designed from the ground up to be tailored to the unique form of betting
                    and settlement offered by the blockchain. Follow these simple steps and make profits! Our
                    platform has been designed from the ground up to be tailored to the unique form of betting and
                    settlement offered by the blockchain. Follow these simple steps and make profits!

                    Our platform has been designed from the ground up to be tailored to the unique form of betting
                    and settlement offered by the blockchain. Follow these simple steps and make profits!
                    Our platform has been designed from the ground up to be tailored to the unique form of betting
                    and settlement offered by the blockchain. Follow these simple steps and make profits! </p>
            </div>
        </div>
    </div>
</section>
<!-- testimonial section -->
<section class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-text mb-5 text-center">
                    <h5>Testimonials</h5>
                    <h3>What Clients Say</h3>
                    <p>
                    Our years of experience in sports betting led us to develop a unique system to rate betting sites. We rate the five most important features of a sportsbook and we also listen to our community. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="testimonials owl-carousel">
                    <div class="review-box">
                        <div class="upper">
                            <div class="img-box">
                                <img src="assets/images/sthan.jpg" alt="..." />
                            </div>
                            <div class="client-info">
                                <h5>Stha Khumalo</h5>
                                <span> Director, BAT</span>
                            </div>
                        </div>
                        <p class="mb-0">
                        "It is available in all regions of South Africa" </p>
                        <i class="fad fa-quote-right quote"></i>
                    </div>
                    <div class="review-box">
                        <div class="upper">
                            <div class="img-box">
                                <img src="assets/images/emma.jpg" alt="..." />
                            </div>
                            <div class="client-info">
                                <h5>Emma Jacobs</h5>
                                <span> Director, BAT</span>
                            </div>
                        </div>
                        <p class="mb-0">
                        "The 404! Bets is home to many members, making it one of the largest sports betting communities in the country. It is super fast and easy to use". </p>
                        <i class="fad fa-quote-right quote"></i>
                    </div>
                    <div class="review-box">
                        <div class="upper">
                            <div class="img-box">
                                <img src="assets/images/sizwe.jpg" alt="..." />
                            </div>
                            <div class="client-info">
                                <h5>Sizwe Nhlapho</h5>
                                <span> Director, BAT</span>
                            </div>
                        </div>
                        <p class="mb-0">
                        " I can easily access the website on desktop, mobile, or tablet". </p>
                        <i class="fad fa-quote-right quote"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>