<section class="banner-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-text text-center">
                    <h3>Blog</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- blog details -->
<section class="blog-details blog-list">
    <div class="container">
        <div class="row justify-content-center gy-5 g-lg-5">
            <div class="col-lg-10">
                <div class="blog-box row">
                    <div class="col-md-6 img-box">
                        <img src="assets/images/630f689d875941661954205.jpg" class="img-fluid" alt="..." />
                    </div>
                    <div class="col-md-6 text-box">
                        <a href="#" class="title">
                            Learn about UI8 coin and earn an All-Access Pass </a>
                        <div class="date-author">
                            <span class="author">
                                <i class="fas fa-dot-circle"></i>Admin </span>
                            <span class="float-end">31 Aug, 2022</span>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Deserunt quas, asperiores sed itaque officiis quae est
                            nulla dolores voluptatem accusa... </p>
                        <a href="#" class="read-more">Read more</a>
                    </div>
                </div>
                <div class="blog-box row">
                    <div class="col-md-6 img-box">
                        <img src="assets/images/630f68c0ac95a1661954240.jpg" class="img-fluid" alt="..." />
                    </div>
                    <div class="col-md-6 text-box">
                        <a href="#" class="title">
                            Learn about UI8 coin and earn an All-Access Pass </a>
                        <div class="date-author">
                            <span class="author">
                                <i class="fas fa-dot-circle"></i>Admin </span>
                            <span class="float-end">31 Aug, 2022</span>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Deserunt quas, asperiores sed itaque officiis quae est
                            nulla dolores voluptatem accusa... </p>
                        <a href="#" class="read-more">Read more</a>
                    </div>
                </div>
                <div class="blog-box row">
                    <div class="col-md-6 img-box">
                        <img src="assets/images/630f68e06248f1661954272.jpg" class="img-fluid" alt="..." />
                    </div>
                    <div class="col-md-6 text-box">
                        <a href="#" class="title">
                            Learn about UI8 coin and earn an All-Access Pass </a>
                        <div class="date-author">
                            <span class="author">
                                <i class="fas fa-dot-circle"></i>Admin </span>
                            <span class="float-end">31 Aug, 2022</span>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Deserunt quas, asperiores sed itaque officiis quae est
                            nulla dolores voluptatem accusa... </p>
                        <a href="#" class="read-more">Read more</a>
                    </div>
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>